
.exelogo {
  height: 30%;
  width: 15%;
}

.carousel slide{
  align-items: center!important;
}

.card-link {
  text-decoration: none;
  color: #009d57;
}

.card-link hover{
  color: darkgreen;
  text-decoration: underline;
}

.inner-card-text{
  justify-content: space-between;

}
.carousel-holder {
  margin-top: 3.8em;
}

.carousel.inner > .item img {
  width:100%;
}


.carousel-caption button {
 padding: 1em;
 font-size: 2em;

}

/* creating the carousel-slider cusotmisation[STOP] */

@media (max-width767px){

  .banner10 h2{
    font-size:3em;
  }
  .banner10 h3{
    font-size:1em;
  }
  .carousel-caption button
  {
    display:none;
  }

}



.footer {
    background: #F4F4F4;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0px 50px;
    color: rgba(0,0,0,0.3);
  }
  .footer-links-now {
    display: flex;
    align-items: center;
  }
  .footer-links-now a {
    color: black;
    opacity: 0.15;
    text-decoration: none;
    font-size: 24px;
    padding: 0px 10px;
  }
  .footer-links a:hover {
    opacity: 1;
  }
  .footer .fa-heart {
    color: #D23333;
  }
  
  
